<nav>
    <div>
        <a href="">SuperInsta</a>
    </div>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/allposts">Tout les img</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/favorites"> Favorites</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/myPosts">Mes images</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/following">Suivis</a></li>
    </ul>

    <ul>
        <li><a routerLink="/login">Connexion</a></li>
        <li><a routerLink="/signup">S'enregistrer</a></li>
    </ul>
</nav>