<div>
    <div>
        <div>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div>
                    <label for="fullname">fullname</label>
                    <input type="fullname" name="fullname" id="fullname" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div>
                    <label for="passeword">Passeword</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
</div>